openai
PyPDF2==3.0.1
fpdf==1.7.2
groq
ffmpeg-python
audio-recorder-streamlit
gtts
pydub
pyttsx3
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.26
langchain-groq==0.1.9
python-dotenv==1.0.1
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
